*{
    font-family: "Press Start 2P", system-ui;
    margin: 0;
    padding: 0;
}

body {
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
    font-size: medium;
}
  
body::before {
    content: "";
    position: fixed;
    background: #040404 url("img/img1.png") top right no-repeat;
    background-size: cover;
    filter: blur(6px);
    -webkit-filter: blur(6px);
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}

body .nes-text.is-primary{
    color: #212529;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
    background-color: #1E1E24;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: medium;
}

nav img {
    padding-bottom: 50px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 20px;
    padding-top: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(228, 100, 100);
}

hr {
    border: 0;
    background: #016FB9;
    height: 3.9px;
    margin: 60px 86px;
}

.first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.first-section>div {
    width: 30%;
}

.first-section > .left-section {
    width: 100%;
    padding: 0 80px;
}

.left-section {
    font-size: x-large;
    margin: 120px 0;
}

.blue {
    color: rgb(1, 247, 255);
}

.grey-text {
    color: #FFFF;
}

#element {
    color: rgb(233, 127, 51);
}

.second-section {
    max-width: 80vw;
    margin: auto;
    font-size: small;
}

.second-section h1 {
    font-size: 1.1rem;
    color: #5bc0be;
}

.left-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.4rem;
}

.left img {
    margin-top: 50px;
}

.right p {
    font-size: small;
}

h2{
    color: chocolate;
    margin-bottom: 15px;
    font-size: xx-large;
    font-weight: bolder;
}

.details{
    margin-top: 15px;
    font-weight: lighter;
    font-size: larger;
}

.details .email{
    text-decoration: none;
    color: rgb(175, 61, 233);
}

.third-section{
    max-width: 80vw;
    margin: auto;
    font-size: small;    
}

.white-text{
    color: white;
}

h1 {
    font-size: 1.1rem;
    color: slateblue;
}

.row {
    margin: 8px -16px;
}

.row,
.row > .column {
  padding: 8px;
}
  
.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
  
.content {
  background-color: #1E1E24;
  padding: 10px;
  color: white;
}

a.link{
    text-decoration: underline;
    color: #9d4edd;
    font-size: x-small;
}

a{
    text-decoration: none;
}

main {
    flex: 1;
    padding: 16px;
    margin-top: 90px;
    box-sizing: border-box;
}

/*.footer-home {
    background-color: #1E1E24;
    font-size: x-small;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: relative;
    bottom: 0;
}

.footer-home ul {
    display: flex;
    justify-content: left;
}

.footer-home .footer-left ul li {
    list-style: none;
    margin: 0 10px;
    padding-top: 10px;
}

.footer-home .footer-left ul li a {
    text-decoration: none;
    color: white;
}

.footer ul li a:hover {
    color: rgb(228, 100, 100);
}*/
